/* Header.css */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #52ACE4; 
    padding: 20px;
    color: white; 
    text-transform: uppercase;
}

.logo h1 {
    margin: 0; 
    font-size: 24px; 
}

.navigation ul {
    list-style-type: none; /* Убираем маркеры списка */
    margin: 0; /* Убираем отступы */
    padding: 0; /* Убираем внутренние отступы */
    display: flex; /* Выстраиваем элементы в ряд */
}

.navigation li {
    margin-left: 20px; /* Отступы между ссылками */
}

.navigation a {
    color: white; /* Цвет текста ссылок */
    text-decoration: none; /* Убираем подчеркивание */
    font-weight: bold; /* Жирный шрифт */
}

.navigation a:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}