/* Header.css */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4CAF50; /* Цвет фона */
    padding: 20px;
    color: white; /* Цвет текста */
}

.logo h1 {
    margin: 0; /* Убираем отступы */
    font-size: 24px; /* Размер шрифта логотипа */
}

.nav ul {
    list-style-type: none; /* Убираем маркеры списка */
    margin: 0; /* Убираем отступы */
    padding: 0; /* Убираем внутренние отступы */
    display: flex; /* Выстраиваем элементы в ряд */
}

.nav li {
    margin-left: 20px; /* Отступы между ссылками */
}

.nav a {
    color: white; /* Цвет текста ссылок */
    text-decoration: none; /* Убираем подчеркивание */
    font-weight: bold; /* Жирный шрифт */
}

.nav a:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}